body {
  background: gold;
}

:root {
  --color-primary: #26402d; /*brunswick green*/
  --color-secondary: #36553D; /*hunter green*/
  --color-accent: #577259; /*reseda green*/
  --color-tekst-primery: #202020; /*eerie black*/
  --colro-text-invert: #ffffff; /*white*/
  --color-body:#2c2c2c; /*deep charocal*/
}