@import './normalize.css';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --Primery-Colors-H400: #26402D;
  --Primery-Colors-H300: #36553D; /*brand green*/
  --Primery-Colors-H200: #69806E; 
  --Primery-Colors-H100: #9BAA9E;

  --Neutral-N900:#1F2223;
  --Neutral-N800:#363939;
  --Neutral-N700:#57595A;
  --Neutral-N600:#797A7B;
  --Neutral-N500:#8E9090;
  --Neutral-N400:#B1B2B2; /* border color */
  --Neutral-N300:#D2D3D3;
  --Neutral-N200:#EFEFEF;
  --Neutral-N100:#F6F6F6;
  --Neutral-white:#ffffff;

  --Accent-Colors-B400: #4198BA;
  --Accent-Colors-B300: #71B2CC;
  --Accent-Colors-B200: #A0CCDD;
  --Accent-Colors-B100: #D9F4FF;

  --Accent-Colors-Y400: #FFC83B;
  --Accent-Colors-Y300: #FFDB80;
  --Accent-Colors-Y200: #FFEDC0;
  --Accent-Colors-Y100: #FFFAEF;

  --Accent-Colors-R400: #BB2C37;
  --Accent-Colors-R300: #CC6169;
  --Accent-Colors-R200: #DD959B;
  --Accent-Colors-R100: #EECACD;

  --border-radius: 30px;
}

article {
  margin-top: 1px;
}

/*    Topography    */
::selection {
  background: var(--Neutral-white);
  color: var(--Neutral-N900);
}

li::marker {
  content: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  color: var(--Neutral-N800);
  margin-top: 20px;
  margin-bottom: 10px;
}

.h1-h200, .h2-h200, .h3-h200, .h4-h200 { /*color for the heading*/
  color: var(--Primery-Colors-H200);
}

.h1-h400, .h2-h400, .h3-h400, .h4-h400 { /*color for the heading*/
  color: var(--Primery-Colors-H400);
}

.h1-white, .h2-white, .h3-white, .h4-white { /*white color for the heading*/
  color: var(--Neutral-white);
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/*    HEADINGS    *//*    HEADINGS    *//*    HEADINGS    *//*    HEADINGS    *//*    HEADINGS    */
h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  word-wrap: break-word;
}

h2 {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.03rem;
}

h4 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.045rem;
  text-transform: uppercase;
}

h5 {
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.035rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 768px) {/* Ustawiamy stały rozmiar na bardzo dużych ekranach */
  h1 {
    font-size: 3.5rem; 
  }
  h2 {
    font-size: 2.5rem; 
  }
  h3 {
    font-size: 1.5rem; 
  }
  h4 {
    font-size: 1.125rem;
  }
  h5 {
    font-size: 1rem; 
}
}


/*    BODY    *//*    BODY    *//*    BODY    *//*    BODY    *//*    BODY    *//*    BODY    */

.p1_r {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02rem;
}

.p1_b {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02rem;
}

.p2_r {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.0175rem;

}

.p2_b {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.0175rem;
}

.p3_r {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.015rem;
}

.p3_b {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.015rem;
}

.header__small_right {
  text-align: right;
}

.header__small_left {
  text-align: left;
}


/*   LABEL   *//*   LABEL   *//*   LABEL   *//*   LABEL   *//*   LABEL   *//*   LABEL   */
.l1_r {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.02rem;
}

.l1_b {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 124%;
  letter-spacing: 0.02rem;
}

.l2_r {
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.0175rem;
}

.l2_b {
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 124%;
  letter-spacing: 0.0175rem;
}

.l3_r {
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.015rem;
}

.l3_b {
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 124%;
  letter-spacing: 0.015rem;
}

/*  GDID  *//*  GDID  *//*  GDID  *//*  GDID  *//*  GDID  *//*  GDID  */
.grid {
  display: grid;
}

.grid--1x3 {
  grid-template-rows: auto;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /*1 kolumny*/
  gap: 16px;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
      grid-template-columns: repeat(2, 1fr);
  }
  .grid--1x3 {
      grid-template-columns: repeat(3, 1fr);
  }
  .grid__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x2 {
      grid-template-columns: repeat(2, 1fr);
  }
  .grid--1x3 {
      grid-template-columns: repeat(3, 1fr);
  }
  .grid__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*  Blocks  *//*  Blocks  *//*  Blocks  *//*  Blocks  *//*  Blocks  */

.block {
  --padding-vertical: 4rem;
 padding: var(--padding-vertical) 1rem;
}

.block__header {
  text-align: left;
  padding-bottom: 16px;
}

.block__heading {
  margin-top: 0;
  margin-bottom: 0;
}

.block__header_right {
  text-align: right;
  padding-bottom: 3rem;
}

.block__header_left {
  text-align: left;
  padding-bottom: 3rem;
}

.block--light {
  background: var(--Neutral-white);
  color: var(--Neutral-N900);
}

.block--brand-light {
  background: var(--Primery-Colors-H200);
  color: var(--Neutral-white);
}

.block--brand {
  background: var(--Primery-Colors-H300);
  color: var(--Neutral-white);
}

.block--dark {
  background: var(--Primery-Colors-H400);
  color: var(--Neutral-white);
}

.block--dark .block__heading {
  color: var(--Neutral-white);
}

/*  Containers  *//*  Containers  *//*  Containers  *//*  Containers  */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.work--inner {
  margin-bottom: 30px;
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  .mobile-padding {
    margin-left: 16px;
    margin-right: 16px;
  }
}


/*  INFO  *//*  INFO  *//*  INFO  *//*  INFO  *//*  INFO  *//*  INFO  */
.info-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.info-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.info {
  display: block;
  flex-direction: column; /* Układ kolumnowy */
  align-items: flex-start; /* Wyrównanie do lewej */
  width: 26rem;
  gap: 0rem;
  flex-shrink: 0;
  padding: 10px;
}

.info--content {
  display: flex;
  flex-direction: column; /* Ikona i nagłówek w kolumnie */
  align-items: flex-start; /* Wyrównanie do lewej */
  gap: 1rem; /* Odstęp między ikoną a nagłówkiem */
}

.info--icon {
  width: 50px;
  height: 50px;
  padding-top: 0%;
}

.info--title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
}

.info--description {
  font-size: 1rem;
  line-height: 1.5;
}

.prev, .next {   /* Next & previous buttons */
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 6px;
  color: var(--Neutral-white);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {   /* Position the "next button" to the right */
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {   /* On hover, add a black background color with a little bit see-through */
  background-color: var(--Neutral-N900);
}

.text {   /* Caption text */
  color: var(--Neutral-white);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {   /* Number text (1/3 etc) */
  color: var(--Neutral-white);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {   /* The dots/bullets/indicators */
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 1px;
  background-color: var(--Neutral-N200);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--Neutral-N400); 
}

.fade {   /*  Fading animation   */
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*  Media  *//*  Media  *//*  Media  *//*  Media  *//*  Media  */
.media {
  display: flex;
}

.madia__title {
  display: flex;
  margin-top: 8px;
  margin-bottom: 2x; 
  gap: 10px;
  align-items: center;
}

.media__body {
  margin: 0 0.2rem;
}

.media__icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  color: var(--Neutral-N100);
}

.media__image {
  margin-top: 1rem;
  width: 50px;
  height: 50px;
}

/*  Icons *//*  Icons *//*  Icons *//*  Icons *//*  Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--Neutral-N900);
}

.icon-container {
  background: var(--Neutral-white);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon--heading {
  display: flex;
  width: 16.8625rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

/*    Inputs    *//*    Inputs    *//*    Inputs    *//*    Inputs    */
.input {
  border-radius: 30px;
  border: 1px solid var(--Neutral-N400);
  color: var(--Neutral-N900);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

.input-group {
  background: var(--Neutral-white);
  border: 1px solid var(--Neutral-N400);
  border-radius: 30px;
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

.input-group .btn {
  margin: 4px;
}

::placeholder {
  color: var(--Neutral-white);
}

@media screen and (min-width:1024px) {
  .input {
    font-size: 1,5rem;
  }
}

/*  Callapsibles  *//*  Callapsibles  *//*  Callapsibles  *//*  Callapsibles  */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 1.125rem;
  color: var(--Neutral-white);
}

.collapsible_chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;

}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
  color: var(--Neutral-white);
}

.collapsible--expanded .collapsible_chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/*  Buttons  *//*  Buttons  *//*  Buttons  *//*  Buttons  *//*  Buttons  */
.btn {
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 124%; /* 1.085rem */
  letter-spacing: 0.0175rem;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  font-size: 1,8rem;
  margin: 1rem 0;
  letter-spacing: 0.12rem;
  padding: 0.5rem 2rem;
  text-align: center;
  white-space: nowrap;
}

.btn--primary {
  background: var(--Neutral-white);
  color: var(--Neutral-N900);
  border-color: var(--Neutral-N600);
}

.btn--primary:hover {
  color: var(--Neutral-N500);
}

.btn--secondary {
  background: var(--Primery-Colors-H300);
  color: var(--Neutral-white);
}

.btn--secondary:hover {
  background: var(--color-accent);
}

.btn--accent {
  background: var(--Primery-Colors-H300);
  color: var(--Neutral-white);
}

.btn--accent:hover {
  background: var(--Primery-Colors-H400);
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1rem;
  }
}

/*  Links   *//*  Links   *//*  Links   *//*  Links   *//*  Links   */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: '>';
  margin-left: 5px;
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and(min-width:1024px) {
  .link-arrow {
    font-size: 1,5rem;
  }
}

/*  Lists   *//*  Lists   *//*  Lists   *//*  Lists   *//*  Lists   */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--Neutral-N100);
}

.list--inline .list__item {  /* obiekty listy w jednej lini*/
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {       /* lista z z obiektem graficznym */
  list-style-image: url(../assets/images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {        /* padding od tekstu- lista z z obiektem graficznym */
  padding-left: 0,5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px){
  .list--tick .list__item {
    padding-left: 0;
  }
}

/*    SECTIONS ON THE PAGE        SECTIONS ON THE PAGE        SECTIONS ON THE PAGE       SECTIONS ON THE PAGE     */
/* NAVBAR */

.nav {
  background: transparent;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
  display: none; /* Domyślnie ukrywamy listę w wersji mobilnej */
}

.nav__list.responsive {
  display: block; /* Pokazujemy listę po dodaniu klasy responsive */
}

.nav__item {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 124%; /* 1.24rem */
  letter-spacing: 0.02rem;
  padding: 1rem;
  border-bottom: 1px solid var(--Neutral-white);
}

.nav__item:last-of-type {
  border-bottom: none;
}

.nav__item > a {
  color: var(--Neutral-N200);
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--Neutral-N200);
  border-bottom: 2px solid var(--Neutral-N200, #EFEFEF);
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow .15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 1 3px var(--Neutral-N600);
  border-radius: 5px;
}

.nav__brand {
  max-width: 100%;
  height: auto;
}

.nav__list .btn--primary {
  color: var(--Primery-Colors-H300);
}

.nav__list .btn--primary:hover {
  color: var(--Primery-Colors-H100);
}

@media screen and (min-width: 1024px) {
  .nav__toggler {
      display: none;
  }

  .nav__list {
      width: auto;
      display: flex; /* Układ rzędowy na większych ekranach */
      font-size: 1.6rem;
      max-height: 100%;
      opacity: 1;
  }

  .nav__item {
      border: 0;
  }
}
/*  HERO  *//*  HERO  *//*  HERO  *//*  HERO  *//*  HERO  *//*  HERO  */
.hero-container {
  position: relative;
  background-image: url(/assets/images/hero_image.jpeg);
  background-size: cover;
  background-position: center;
  color: var(--Neutral-white);
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Wyśrodkowujemy poziomo */
  justify-content: center; /* Wyśrodkowujemy pionowo */
  text-align: center; /* Wyśrodkowujemy tekst */
}

.hero__heading {
  font-size: 2.25vw;
  font-style: normal;
  line-height: 125%;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  color: var(--Neutral-white);
  margin-bottom: 2rem; /* Dodajemy margines dolny dla odstępu od ikony */
}

.block__heading.hero__heading {
  font-weight: 700;
  line-height: 1.2;
  margin: 0;

}
.hero__tagline {
  font-size: 2rem;
  color: var(--Accent-Colors-B200);
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
}

.hero-container {
  height: 95vh;
  position: relative;
  background-image: url(/assets/images/hero_image.jpeg);
  background-size: cover;
  background-position: center;
  color: var(--Neutral-white);
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  margin-top: 38vh;
}

.hero__heading {
  font-size: 4vw;
  font-style: normal;
  line-height: 125%;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  color: var(--Neutral-white);
  margin-bottom: 2rem; 
  text-align: center;
}

.block__heading.hero__heading {
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.arrow.arrow-circel {
  align-self: center; 
}

@media screen and (min-width: 768px) {
  .hero__heading {
      font-size: 4vw;
      line-height: 105%;
      letter-spacing: 0.39rem;
      padding-bottom: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .hero__heading {
      font-size: 3vw;
      padding-bottom: 24px;
  }
}

/*   ABOUT   *//*   ABOUT   *//*   ABOUT   *//*   ABOUT   *//*   ABOUT   */
.title-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  word-wrap: break-word;
  margin-bottom: 24px;
}

.title--heading {
  display: flex;
  gap: 24px;
}

.title--heading h1 {
  margin: 0; 
}

.title--heading-nasze {
  color: var(--Neutral-N500);
  font-size: 56px;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 70px;
  letter-spacing: 2.24px;
  word-wrap: break-word;
}

.title--heading-realizacje {
  color: var(--Primery-Colors-H100);
  font-size: 56px;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 70px;
  letter-spacing: 2.24px;
  word-wrap: break-word;
}

.heading__color_H400 {
  color: var(--Primery-Colors-H400);
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.about__image-container {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.about__image {
   display: flex;
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 28px;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 0 0;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .about__content {
    gap: 1rem;
  }
}

/*   NUMBERS   *//*   NUMBERS   *//*   NUMBERS   *//*   NUMBERS   */
.numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.numbers__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 72.0625rem;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}

.numbers__content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 150px;
}

.numbers__content p {
  text-align: center;
}

/* Media queries */
@media (max-width: 1024px) {
  .numbers__container {
      display: grid; 
      grid-template-columns: 1fr 1fr;
      justify-content: center; 
      gap: 2rem; 
      overflow-x: hidden; 
      white-space: normal; 
  }

  .numbers__content {
      display: flex; 
      width: 100%;
  }
}

@media (max-width: 768px) {
  .numbers__container {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      justify-content: flex-start;
  }

  .numbers__content {
      width: 100%;
  }
}

/*   OFFER   *//*   OFFER   *//*   OFFER   *//*   OFFER   *//*   OFFER   */
.heading__white {
  color: var(--Neutral-white);
}

.offer--content {
  display: flex;
  color: var(--Neutral-white);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  flex: 1 0 0;
  padding: 1rem; 
}

.offer--content p.p1_b {
  font-size: 1.1rem; 
  line-height: 1.6;
  margin-bottom: 1.5rem; 
}

.main-container {
  overflow: hidden;
}

.media--content {
  padding-right: 24px;
}

.main-container .media__body {
  margin-bottom: 2rem;
}

.main-container .madia__title {
  display: flex; 
  align-items: center; 
  gap: 0.5rem;
  font-size: 1.3rem; 
  margin-bottom: 1rem; 
}

.main-container .p2_r {
  font-size: 1rem;
  line-height: 1.6; 
}

.offer__image-container {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.offer__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 28px;
}

.offer--content .icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 768px) {
  .offer--content {
      padding: 0.5rem;
  }

  .offer--content p.p1_b,
  .main-container .p2_r {
      font-size: 1rem;
  }

  .main-container .madia__title {
      font-size: 1.1rem;
  }
  .media--content {
    padding-right: 4px;
  }
}

/*   WHERE   *//*   WHERE   *//*   WHERE   *//*   WHERE   *//*   WHERE   */
.where h1{
  padding-bottom: 24px;
}

.article-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
  gap: 1rem;
  padding-bottom: 10px;
}

.article-card {
  width: 90%;
  height: 400px;
  border-radius: 28px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
}

.article-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .date,
.article-card .title {
  margin: 0;
}

.article-card .date {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
}

.article-card .title {
  color: var(--Neutral-white);
}

/*   MISSION   *//*   MISSION   *//*   MISSION   *//*   MISSION   *//*   MISSION   */
.mission__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
  margin-top: 26px;
  width: 40%;
  }

.mission__content {
  display: flex;
  color: var(--Neutral-white);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  flex: 1 0 0;
}

.mission__content p{
 text-align:unset;
}
/*   PROJECTS   *//*   PROJECTS   *//*   PROJECTS   *//*   PROJECTS   *//*   PROJECTS   *//*   PROJECTS   *//*   PROJECTS   */
.project--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 16px;
}

.project--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Dynamiczna liczba kolumn */
  grid-gap: 2rem;
  row-gap: 2rem;
}

.project {
  display: flex;
  padding: 1rem 1rem 1.5rem 1rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--Neutral-N400);
  min-width: 300px; /* Minimalna szerokość */
  flex: 1; /* Rozciąganie do dostępnej przestrzeni */
  border-radius: 1.3125rem;
  transition: opacity 1.8s ease-in-out, transform 1.8s ease-in-out, display 1.8s ease-in-out;
}

/* Opcjonalnie: dostosowanie do mniejszych ekranów */
@media (max-width: 768px) {
  .project--grid {
      grid-template-columns: 1fr; /* Na mniejszych ekranach projekty będą ułożone w jednej kolumnie */
  }
}

.project {
  display: flex;
  padding: 1rem 1rem 1.5rem 1rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--Neutral-N400); /* Dodaję obramowanie, aby karta była widoczna */
  width: 563px; /* Ustawiamy szerokość na 563px */
  border-radius: 1.3125rem;
  transition: opacity 1.8s ease-in-out, transform 1.8s ease-in-out, display 1.8s ease-in-out;
}

.project .read-more-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
}

@import 'animate.css';

.project__hidden {
  opacity: 0;
  transform: scale(0.8); /* Zmniejsz skalę elementu */
  display: none;
}

.long-text {
  max-height: 100px; /* Ustawiamy maksymalną wysokość tekstu */
  overflow: hidden; /* Ukrywamy nadmiar tekstu */
  transition: max-height 0.3s ease; /* Dodajemy animację */
}

.long-text.expanded {
  max-height: none; /* Usuwamy maksymalną wysokość po rozwinięciu */
}

.project--heading {
  align-self: stretch;
  gap: 1rem;
  margin: 8px
}

.project img {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
}

.image-gallery {
  position: relative;
  width: 100%;
  overflow: hidden; /* Dodajemy ukrycie nadmiaru */
  border-radius: 1rem;
}

.gallery {
  display: flex; /* Ustawiamy flex dla galerii */
  transition: transform 0.3s ease; /* Dodajemy animację */
}

.gallery img {
  width: 100%; /* Obrazki na pełną szerokość galerii */
  height: auto;
}

.arrows {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.arrow {
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow:hover .arrow-svg {
  filter: brightness(0) saturate(100%) sepia(100%) hue-rotate(0deg) saturate(70%) brightness(110%); /* Ustawiamy kolor po najechaniu (czerwony) */
}

/* Media queries dla responsywności */
@media (min-width: 1024px) {
  .project--grid {
      grid-template-columns: repeat(2, 1fr); /* 2 kolumny na dużych ekranach */
  }
}

@media (max-width: 1023px) {
  .project--grid {
      grid-template-columns: 1fr; /* 1 kolumna na mniejszych ekranach */
  }
}

/* Media queries dla responsywności */
@media (max-width: 768px) {
  .project {
      padding: 0.5rem; /* Zmniejszamy padding na mniejszych ekranach */
  }

  .arrows {
      gap: 0.5rem; /* Zmniejszamy odstęp między strzałkami */
  }
}

@media (max-width: 480px) {
  .project {
      width: 100%; /* Karta zajmuje całą szerokość ekranu na bardzo małych ekranach */
  }

  .arrow {
      width: 1.5rem; /* Zmniejszamy rozmiar strzałek */
      height: 1.5rem;
  }

  .arrow-svg {
      width: 1rem; /* Zmniejszamy rozmiar ikon strzałek */
      height: 1rem;
  }
}

/*   TAGS   *//*   TAGS   *//*   TAGS   *//*   TAGS   *//*   TAGS   *//*   TAGS   *//*   TAGS   *//*   TAGS   *//*   TAGS   */
.tags__carousel {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  scrollbar-width: none; /* Firefox */
}

.tags__carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.tag {
  flex: 0 0 auto;
  padding: 8px 16px;
  margin-right: 12px;
  background-color: var(--Primery-Colors-H300); /* dopasowana zieleń */
  color: white;              /* biały tekst dla czytelności */
  border: 1px solid var(--Neutral-N100, #F6F6F6);
  border-radius: 20px;
  font-size: 14px;
  user-select: none;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tag:hover {
  background-color: #63915f; /* lekko ciemniejsza zieleń na hover */
}

/* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT */

.contact {
  background-image: url(/assets/images/contact_image.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 16px;
  padding-bottom: 64px;
  padding-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
}

.contact-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;

}

.contact__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.contact__heading {
  color: #EFEFEF;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: 1.6px;
  word-wrap: break-word;
  margin: 0;
}

.contact__text {
  color: #EFEFEF;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
  margin: 0;
}

.contact-info-text a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-info-text a:hover {
  color: green;
}

.contact-info {
  display: flex;
  flex-direction: column; /* Ustawienie kolumny domyślnie */
  align-items: flex-start;
  gap: 15px; /* Mniejszy gap */
}

.contact-info-item {
  width: 100%; /* Każdy element zajmuje pełną szerokość */
  display: flex;
  align-items: center;
  gap: 12px;
  box-sizing: border-box; /* Wliczenie paddingu i border w szerokość */
}

.contact-info-icon {
  width: 28.8px;
  height: 28.8px;
  position: relative;
  overflow: hidden;
}

.contact-info-icon img {
  width: 100%;
  height: 100%;
}

.contact-info-text {
  white-space: nowrap; /* Zapobiega zawijaniu tekstu */
  color: white;
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.28px;
  word-wrap: break-word;
}

@media (max-width: 768px) {

  .contact-container {

    margin-right: 16px;
    margin-left: 16px;
  }

  .contact-info {
      flex-direction: column; /* Ustawienie kolumny dla małych ekranów */
      gap: 15px; /* Mniejszy gap dla małych ekranów */
  }

  .contact-info-item {
      width: 100%; /* Każdy element zajmuje pełną szerokość */
      box-sizing: border-box; /* Wliczenie paddingu i border w szerokość */
  }
}

@media (min-width: 769px) {
  .contact-container {
    margin-right: 64px;
    margin-left: 64px;
  }

  .contact-info {
      flex-direction: row; /* Ustawienie rzędu dla dużych ekranów */
  }
}


/*   FOOTER   *//*   FOOTER   *//*   FOOTER   *//*   FOOTER   *//*   FOOTER   *//*   FOOTER   *//*   FOOTER   */
.footer__list {
  font-size: 16px;
}

.footer a {
  color: var(--Primery-Colors-H100);
  transition: color 0.3s;
}

.footer a:hover {
  color: var(--Neutral-white);
}

.footer__section {
  padding: 1rem;
  border-bottom: 1px solid var(--Neutral-white);
}

.footer__section .list {
  margin: 0;
}

.footer__heading {
  text-transform: uppercase;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__brand img {
  width: 100%;
  max-width: 230px;
}

.footer__copyright {
  font-size: 12px;
  color: var(--Primery-Colors-H100);
  opacity: .3;
  text-align: center;
}

@media screen and (min-width: 1050px) {
  .footer__sections {
      grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  }
  .footer .collapsible__chevron {
      display: none;
  }
  .footer .collapsible__content {
      opacity: 1;
      max-height: 100%;
  }
  .footer__brand {
      order: -1;
      margin-top: 1rem;
  }
  .footer__copyright {
      font-size: 12px;
  }
  .footer__section {
      border: 0;
  }
}

/*    MADE    *//*    MADE    *//*    MADE    *//*    MADE    *//*    MADE    *//*    MADE    *//*    MADE    */
.made {
  display: flex;
  width: 100%; /* Zastąp 100vw na 100% dla lepszej responsywności */
  min-height: 3.25rem; /* Użyj min-height zamiast height */
  padding: 1.0625rem 20px; /* Zmień padding na jednostki względne lub stałe */
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: var(--Primery-Colors-H400);
  box-sizing: border-box; /* Dodaj box-sizing, aby padding nie wpływał na szerokość */
}

.made--content {
  width: 100%; /* Dodaj szerokość 100% */
  max-width: 1200px; /* Ogranicz maksymalną szerokość */
  margin: 0 auto; /* Wyśrodkuj kontener */
}

.made--text {
  color: var(--Neutral-white);
  text-align: center;
  font-size: 0.9rem; /* Ustaw bazowy rozmiar czcionki */
}

@media (max-width: 1024px) {
  .made {
      padding: 1.0625rem 20px; /* Dostosuj padding dla tabletów */
  }
}

@media (max-width: 768px) {
  .made {
      padding: 1.0625rem 15px; /* Dostosuj padding dla mniejszych ekranów */
  }

  .made--text {
      font-size: 0.8rem; /* Zmniejsz rozmiar tekstu */
  }
}

@media (max-width: 480px) {
  .made {
      padding: 1.0625rem 10px; /* Dostosuj padding dla bardzo małych ekranów */
  }

  .made--text {
      font-size: 0.7rem; /* Jeszcze mniejszy rozmiar tekstu */
  }
}