@import './normalize.css';

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --Primery-Colors-H400: #26402D;
  --Primery-Colors-H300: #36553D; /*brand green*/
  --Primery-Colors-H200: #69806E; 
  --Primery-Colors-H100: #9BAA9E;

  --Neutral-N900:#1F2223;
  --Neutral-N800:#363939;
  --Neutral-N700:#57595A;
  --Neutral-N600:#797A7B;
  --Neutral-N500:#8E9090;
  --Neutral-N400:#B1B2B2; /* border color */
  --Neutral-N300:#D2D3D3;
  --Neutral-N200:#EFEFEF;
  --Neutral-N100:#F6F6F6;
  --Neutral-white:#ffffff;

  --Accent-Colors-B400: #4198BA;
  --Accent-Colors-B300: #71B2CC;
  --Accent-Colors-B200: #A0CCDD;
  --Accent-Colors-B100: #D9F4FF;

  --Accent-Colors-Y400: #FFC83B;
  --Accent-Colors-Y300: #FFDB80;
  --Accent-Colors-Y200: #FFEDC0;
  --Accent-Colors-Y100: #FFFAEF;

  --Accent-Colors-R400: #BB2C37;
  --Accent-Colors-R300: #CC6169;
  --Accent-Colors-R200: #DD959B;
  --Accent-Colors-R100: #EECACD;

  --border-radius: 30px;
}

article {
  margin-top: 1px;
}


/*    Topography    */
::selection {
  background: #fff;
  color: var(--Neutral-N900);
}

li::marker {
  content: none;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  color: var(--Neutral-N800);
}

.h1-h200, .h2-h200, .h3-h200, .h4-h200 { /*color for the heading */
  color: var(--Primery-Colors-H200);
}

.h1-h400, .h2-h400, .h3-h400, .h4-h400 { /*color for the heading */
  color: var(--Primery-Colors-H400);
}

.h1-white, .h2-white, .h3-white, .h4-white { /*white color for the heading */
  color: var(--Neutral-white);
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/*    HEADINGS    */
h1 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 4.375rem */
  letter-spacing: 0.14rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 3.125rem */
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 1.875rem */
  letter-spacing: 0.03rem;
}

h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 1.40625rem */
  letter-spacing: 0.045rem;
  text-transform: uppercase;
}

h5 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 1.09375rem */
  letter-spacing: 0.035rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
    font-weight: 500;
  }
}


/*    BODY    */

.p1_r {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02rem;
}

.p1_b {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02rem;
}

.p2_r {
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.0175rem;
}

.p2_b {
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.0175rem;
}

.p3_r {
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.015rem;
}

.p3_b {
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.015rem;
}

.header__small_right {
  text-align: right;
}

.header__small_left {
  text-align: left;
}


/*   LABEL   */

.l1_r {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.02rem;
}

.l1_b {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 124%;
  letter-spacing: 0.02rem;
}

.l2_r {
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.0175rem;
}

.l2_b {
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 124%;
  letter-spacing: 0.0175rem;
}

.l3_r {
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.015rem;
}

.l3_b {
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 124%;
  letter-spacing: 0.015rem;
}

/*   GDID   */

.grid {
  display: grid;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /*1 kolumny*/
  gap: 16px;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
      grid-template-columns: repeat(2, 1fr);
  }
  .grid--1x3 {
      grid-template-columns: repeat(3, 1fr);
  }
  .grid__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x2 {
      grid-template-columns: repeat(2, 1fr);
  }
  .grid--1x3 {
      grid-template-columns: repeat(3, 1fr);
  }
  .grid__container {
    grid-template-columns: repeat(3, 1fr);
  }
}


/*   Blocks   */

.block {
  --padding-vertical: 6rem;
 padding: var(--padding-vertical) 1rem;
}

.block__header {
  text-align: left;
  padding-bottom: 16px;
}

.block__heading {
  margin-top: 0;
  margin-bottom: 0;
}

.block__header_right {
  text-align: right;
  padding-bottom: 3rem;
}

.block__header_left {
  text-align: left;
  padding-bottom: 3rem;
}

.block--light {
  background: #fff;
  color: var(--Neutral-N900);
}

.block--brand-light {
  background: var(--Primery-Colors-H200);
  color: var(--Neutral-white);
}

.block--brand {
  background: var(--Primery-Colors-H300);
  color: var(--Neutral-white);
}

.block--dark {
  background: var(--Primery-Colors-H400);
  color: var(--Neutral-white);
}

.block--dark .block__heading {
  color: #fff;
}


/*    Containers    */

.container {
  max-width: 1440px;
  margin: 0 auto;
}


/*   INFO   */

.info-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.info-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.info {
  display: block;
  flex-direction: column; /* Układ kolumnowy */
  align-items: flex-start; /* Wyrównanie do lewej */
  width: 26rem;
  gap: 0rem;
  flex-shrink: 0;
  padding: 10px;
}

.info--content {
  display: flex;
  flex-direction: column; /* Ikona i nagłówek w kolumnie */
  align-items: flex-start; /* Wyrównanie do lewej */
  gap: 1rem; /* Odstęp między ikoną a nagłówkiem */
}

.info--icon {
  width: 50px;
  height: 50px;
  padding-top: 0%;
}

.info--title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
}

.info--description {
  font-size: 1rem;
  line-height: 1.5;
}

.prev, .next {   /* Next & previous buttons */
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 6px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {   /* Position the "next button" to the right */
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {   /* On hover, add a black background color with a little bit see-through */
  background-color: rgba(0,0,0,0.8);
}

.text {   /* Caption text */
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {   /* Number text (1/3 etc) */
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {   /* The dots/bullets/indicators */
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {   /*  Fading animation   */
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/*    Media    */

.media {
  display: flex;
}

.madia__title {
  display: flex;
  margin-top: 0;
  margin-bottom: 1rem;
  gap: 10px;
  align-items: center;
}

.media__body {
  margin:  0 2rem;
}

.media__icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  color: var(--color-light1);
}

.media__image {
  margin-top: 1rem;
  width: 50px;
  height: 50px;
}

/*    Icons   */

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--Neutral-N900);
}

.icon-container {
  background: var(--Neutral-white);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon--heading {
  display: flex;
  width: 16.8625rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}


/*    Inputs    */

.input {
  border-radius: 30px;
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

.input-group {
  background: #fff;
  border: 1px solid var(--color-border);
  border-radius: 30px;
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

.input-group .btn {
  margin: 4px;
}

::placeholder {
  color: var(--Neutral-white);
}

@media screen and (min-width:1024px) {
  .input {
    font-size: 1,5rem;
  }
}


/*    Callapsibles    */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 1.125rem;
  color: var(--Neutral-white);
}

.collapsible_chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;

}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
  color: var(--Neutral-white);
}

.collapsible--expanded .collapsible_chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}


/*    Buttons    */

.btn {
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 124%; /* 1.085rem */
  letter-spacing: 0.0175rem;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  font-size: 1,8rem;
  font-weight: 600;
  margin: 1rem 0;
  letter-spacing: 0.12rem;
  padding: 1rem 3rem;
  text-align: center;
  white-space: nowrap;
}

.btn--primary {
  background: var(--Neutral-white);
  color: var(--Neutral-N900);
  border: 1px solid var(--Neutral-N800, #363939);
}

.btn--primary:hover {
  background: var(--Neutral-white);
  color: var(--Neutral-N400);
  border: 1px solid var(--Neutral-N400, #363939);
}

.btn--secondary {
  background: var(--Primery-Colors-H300);
  color: #fff;
}

.btn--secondary:hover {
  background: var(--color-accent);
}

.btn--accent {
  background: var(--Primery-Colors-H300);
  color: #fff;
}

.btn--accent:hover {
  background: var(--Primery-Colors-H400);
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1rem;
  }
}



/*  Links   */

a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: '>';
  margin-left: 5px;
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and(min-width:1024px) {
  .link-arrow {
    font-size: 1,5rem;
  }
}


/*  Lists   */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {  /* obiekty listy w jednej lini*/
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {       /* lista z z obiektem graficznym */
  list-style-image: url(../assets/images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {        /* padding od tekstu- lista z z obiektem graficznym */
  padding-left: 0,5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px){
  .list--tick .list__item {
    padding-left: 0;
  }
}



/*    SECTIONS ON THE PAGE        SECTIONS ON THE PAGE        SECTIONS ON THE PAGE       SECTIONS ON THE PAGE     */

/*   NAVBAR   */

.nav {
  background: transparent;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid var(--Neutral-white);
}

.nav__item:last-of-type {
  border-bottom: none;
}

.nav__item > a {
  color: var(--Neutral-white);
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--Neutral-white);
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow .15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 1 3px #666;
  border-radius: 5px;
}

.nav__brand {
  max-width: 100%; /* Obraz nie będzie szerszy niż kontener */
  height: auto; /* Zachowaj proporcje obrazu */
}

@media screen and (min-width: 1024px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
    margin: 10px;
  }
  .nav__brand img {
    .nav__brand img 
      max-width: 80%; /* Zmniejsz obraz na mniejszych ekranach */
    }
}



/*   HERO   */

.hero-container {
  position: relative;
  background-image: url(/assets/images/hero_image.png);
  background-size: cover;
  background-position: center;
  color: var(--Neutral-white);
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 7.5625rem 8.5rem;
}

.hero__heading {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10.4375rem;
  padding-bottom: 2rem;
  justify-content: center;
  display: flex;
  height: 3.3125rem;
  flex-direction: column;
  color: var(--Neutral-white);
}

.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 5%;
    padding-bottom: 10%;
    height: 50rem;
  }
  .hero__heading {
    font-size: 2.25rem;
    line-height: 4.25rem; /* 130.769% */
    letter-spacing: 0.39rem;
    line-height: 105%;
  }
  
  .hero__content {
    text-align: left;
    align-self: center;
    padding-bottom: -10vh;
  }
  .btn {
    display: flex;
    width: 14.3125rem;
    padding: 0.75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero__heading {
    font-size: 3.25rem;
  }
}



/*   ABOUT   */

.realizacje-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 5px;
  word-wrap: break-word
}

.realizacje-heading {
  display: flex; /* Użyj flexboxa */
  gap: 16px; /* Dodaj odstęp między elementami */
}

.realizacje-heading h1 {
  margin: 0; /* Usuń domyślne marginesy */
}

.realizacje-heading-nasze {
  color: #26402D;
  font-size: 56px;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 70px;
  letter-spacing: 2.24px;
  word-wrap: break-word;
}

.realizacje-heading-realizacje {
  color: #69806E;
  font-size: 56px;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 70px;
  letter-spacing: 2.24px;
  word-wrap: break-word;
}

.heading__color_H400 {
  color: var(--Primery-Colors-H400);
}

.onas__image {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 414px;
  background: url(/assets/images/o_nas_image.jpg)
      no-repeat center;
  background-size: cover;
  z-index: 9;
  overflow: hidden;
  border-radius: 28px;
}

.onas__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 0 0;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .onas__content {
    gap: 1rem;
  }
}



/*   NUMBERS   */

.numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 20px;
}

.numbers__container {
  display: flex;
  justify-content: space-between; /* Zmieniamy na space-between */
  width: 100%;
  max-width: 72.0625rem;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}

.numbers__content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  min-width: 150px;
}

.numbers__content p {
  text-align: center;
}

/* Media queries */
@media (max-width: 1024px) {
  .numbers__container {
      display: grid; /* Zmieniamy na grid */
      grid-template-columns: 1fr 1fr; /* Dwie kolumny */
      justify-content: center; /* Wyśrodkowujemy grid */
      gap: 2rem; /* Dodajemy gap między elementami grid */
      overflow-x: hidden; /* Ukrywamy przewijanie w poziomie */
      white-space: normal; /* Przywracamy normalne zawijanie */
  }

  .numbers__content {
      display: flex; /* Zmieniamy na flex */
      width: 100%; /* Obiekty na pełną szerokość komórki grid */
  }
}

@media (max-width: 768px) {
  .numbers__container {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      justify-content: flex-start;
  }

  .numbers__content {
      width: 100%;
  }
}



/*   OFFER   */

.heading__white {
  color: var(--Neutral-white);
}

.offer__content {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  flex: 1 0 0;
}

.main-container {
  overflow: hidden;
}

.offer__image {
  flex: 1 0 0;
  width: 616px;
  height: fit-content;
  margin: 0 auto;
  background: url(../assets/images/nasze_image.png);
  background-size: cover;
  overflow: hidden;
  border-radius: 28px;
}



/*   WHERE   */

.projektujemy-obszary {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.3125rem;
  line-height: 125%;
  align-self: stretch;
}

.projektujemy-obszary-tekst {
  line-height: 70px;
  letter-spacing: 2.24px;
  word-wrap: break-word;
}

.where-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr)); /* Dostosuj szerokość kart */
  gap: 1rem; /* Dostosuj odstęp między kartami */
}

.where-card {
  display: flex;
  width: 16.5rem;
  height: 37.5rem;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1.75rem;
  background: linear-gradient(0deg, rgba(17, 174, 41, 0.20) 0%, rgba(17, 174, 41, 0.20) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(0, 0, 0, 0.56) 87.5%);
  background-blend-mode: hue, darken, normal;
  box-shadow: 5px 6px 6.1px 0px rgba(0, 0, 0, 0.25);
}

.where-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.where-card-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.where-card-heading h3 {
  color: var(--Neutral-white, #FFF);
}

.where-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  color: var(--Neutral-white, #FFF);
}

@media (max-width: 1024px) { /* Dostosuj szerokość, jeśli to konieczne */
  .where-card {
    flex-direction: row; /* Zmień kierunek flex na poziomy */
    width: 100%; /* Ustaw szerokość na 100% ekranu */
    height: auto; /* Dostosuj wysokość do zawartości */
  }

  .where-card-heading {
    width: 50%; /* Ustaw szerokość nagłówka na 50% */
  }

  .where-card-content {
    width: 50%; /* Ustaw szerokość zawartości na 50% */
  }
}



/*   MISSION   */

.mission__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
  margin-top: 26px;
  width: 40%;
  }

.mission__content {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  flex: 1 0 0;
}



/*   PROJECTS   */

/*   Project - Card   */
.project--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 16px;
}

.project--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Tworzy 2 kolumny o równej szerokości */
  grid-gap: 2rem; /* Ustawia odstęp między projektami */
  row-gap: 2rem;
}

.project {
  /* Style dla pojedynczego projektu */
  border: 1px solid #ccc;
  padding: 1rem;
}

/* Opcjonalnie: dostosowanie do mniejszych ekranów */
@media (max-width: 768px) {
  .project--grid {
      grid-template-columns: 1fr; /* Na mniejszych ekranach projekty będą ułożone w jednej kolumnie */
  }
}

.project {
  display: flex;
  padding: 1rem 1rem 1.5rem 1rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #ccc; /* Dodaję obramowanie, aby karta była widoczna */
  width: 563px; /* Ustawiamy szerokość na 563px */
  border-radius: 1.3125rem;
  transition: opacity 1.8s ease-in-out, transform 1.8s ease-in-out, display 1.8s ease-in-out;
}

.read-more-btn {
  display: flex;
  flex-direction: column;
  align-self: center; /* Centruje przycisk w poziomie */
}

@import 'animate.css';

.project__hidden {
  opacity: 0;
  transform: scale(0.8); /* Zmniejsz skalę elementu */
  display: none;
}

.long-text {
  max-height: 100px; /* Ustawiamy maksymalną wysokość tekstu */
  overflow: hidden; /* Ukrywamy nadmiar tekstu */
  transition: max-height 0.3s ease; /* Dodajemy animację */
}

.long-text.expanded {
  max-height: none; /* Usuwamy maksymalną wysokość po rozwinięciu */
}

.project--heading {
  align-self: stretch;
  gap: 1rem;
  margin: 0;
}

.project img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

.image-gallery {
  position: relative;
  width: 100%;
  overflow: hidden; /* Dodajemy ukrycie nadmiaru */
  border-radius: 1rem;
}

.gallery {
  display: flex; /* Ustawiamy flex dla galerii */
  transition: transform 0.3s ease; /* Dodajemy animację */
}

.gallery img {
  width: 100%; /* Obrazki na pełną szerokość galerii */
  height: auto;
}

.arrows {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.arrow {
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow:hover .arrow-svg {
  filter: brightness(0) saturate(100%) sepia(100%) hue-rotate(0deg) saturate(70%) brightness(110%); /* Ustawiamy kolor po najechaniu (czerwony) */
}

/* Media queries dla responsywności */
@media (max-width: 768px) {
  .project {
      padding: 0.5rem; /* Zmniejszamy padding na mniejszych ekranach */
  }

  .arrows {
      gap: 0.5rem; /* Zmniejszamy odstęp między strzałkami */
  }
}

@media (max-width: 480px) {
  .project {
      width: 100%; /* Karta zajmuje całą szerokość ekranu na bardzo małych ekranach */
  }

  .arrow {
      width: 1.5rem; /* Zmniejszamy rozmiar strzałek */
      height: 1.5rem;
  }

  .arrow-svg {
      width: 1rem; /* Zmniejszamy rozmiar ikon strzałek */
      height: 1rem;
  }
}



/*   TAGS   */

.tags__carousel {
  display: flex;
  gap: 10px;
  padding: 20px;
  overflow-x: hidden; /* Ukrywamy standardowy pasek przewijania */
  white-space: nowrap;
  position: relative; /* Ustawiamy pozycję na relative, aby animacja działała poprawnie */
}

.tag {
  display: inline-flex;
  height: 3rem;
  padding: 0 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid #F6F6F6;
  color: #F6F6F6;
  font-size: 1rem;
  white-space: nowrap;
  margin: 0 5px;
}



/*   CONTACT   */

.contact {
  background-image: url(/assets/images/kontakt_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}

.contact__text {
  display: flex;
  height: 3rem;
  padding: 1.125rem 1.125rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  justify-content: center;
}

.form--area {
  display: grid;
  place-items: center;
  border-radius: 0.9375rem;
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 5px 10px 4.8px 0px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 90%; /* Użyj procentów dla responsywności */
  max-width: 600px; /* Dodaj maksymalną szerokość */
  color: #fff;
  padding: 50px 30px;
  box-shadow: 0 0 1rem 0 rgb(0, 0, 0, 0.5);
  position: relative;
}

.wrapper::before{
  content: '';
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgb(255,255,255,0.5);
  filter: blur(2px);
}

.wrapper p{
  display: block;
  margin-bottom: 5px;
}

.wrapper input,
.wrapper textarea {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px; /* Dodaj padding */
    color: #fff;
    box-sizing: border-box; /* Uwzględnij padding w szerokości */
}

.wrapper textarea {
    height: 150px; /* Zwiększ wysokość textarea */
}

.wrapper a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--Primery-Colors-H400);
  margin-top: 15px;
  padding: 10px;
  background: var(--color-border);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  border-radius: 5px;
}



/*   FOOTER   */

.footer__list {
  font-size: 16px;
}

.footer a {
  color: var(--Primery-Colors-H100);
  transition: color 0.3s;
}

.footer a:hover {
  color: var(--Neutral-white);
}

.footer__section {
  padding: 1rem;
  border-bottom: 1px solid var(--Neutral-white);
}

.footer__section .list {
  margin: 0;
}

.footer__heading {
  text-transform: uppercase;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__brand img {
  width: 100%;
  max-width: 230px;
}

.footer__copyright {
  font-size: 12px;
  color: var(--Primery-Colors-H100);
  opacity: .3;
  text-align: center;
}

@media screen and (min-width: 1050px) {
  .footer__sections {
      grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  }
  .footer .collapsible__chevron {
      display: none;
  }
  .footer .collapsible__content {
      opacity: 1;
      max-height: 100%;
  }
  .footer__brand {
      order: -1;
      margin-top: 1rem;
  }
  .footer__copyright {
      font-size: 12px;
  }
  .footer__section {
      border: 0;
  }
}



/*   MADE   */

.made {
  padding: 20px 0; /* Dodaj padding dla lepszego wyglądu */
}

.made__text {
  color: var(--Neutral-white);
  text-align: center;
}