<div class="callout callout--secondary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">
        GOTOWY NA WSPUŁPRACĘ? NAPISZ DO NAS JUż DZIS!
      </h2>
      <p>
        Nasz zespół doświadczonych profesjonalistów jest gotowy odpowiedzieć na
        Twoje pytania i udzielić wsparcia. Skontaktuj się z nami teraz, aby
        rozpocząć współpracę!
      </p>
    </div>
    <a href="#" class="btn btn--primary btn--stretched">Wyśli wiadomość</a>
  </div>
</div>
