<article class="container card">
  <img
    class="card__background"
    src="/assets/images/image_teren_inwestycyjny.jpg"
    alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
  />
  <div class="card__content | flow">
    <div class="card__content--container | flow">
      <h4 class="card__title">TERENY INWESTYCYJNE</h4>
      <p class="card__description">
        Projektowanie zielonych stref wokół obiektów komercyjnych i
        przemysłowych. Tworzenie atrakcyjnych i funkcjonalnych przestrzeni dla
        pracowników i klientów.
      </p>
    </div>
  </div>
</article>
