<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kreatorzy Krajobrazu</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="assets\logo\svg\logo\Kreatorzy Krajaobrazu  logo, kolor_white, size_50px.svg"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <footer class="block block--dark footer">
      <div class="container grid footer__sections">
        <section class="collapsible collapsible--expanded footer__section">
          <div class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Dane</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use href="images/sprite.svg#chevron"></use>
            </svg>
          </div>
          <div class="collapsible__content">
            <ul class="list">
              <li class="p2_r">REGON | 527142210</li>
              <br />
              <li class="p2_r">NIP | PL 583 349 58 73</li>
              <br />
              <li class="p2_r">
                Sąd Rejonowy Gdańsk Północ <br />w Gdańsku VII Wydział
                Gospodarczy <br />KRS 0001073934.
              </li>
            </ul>
          </div>
        </section>
        <section class="collapsible footer__section">
          <div class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Adres</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use href="images/sprite.svg#chevron"></use>
            </svg>
          </div>
          <div class="collapsible__content">
            <ul class="list">
              <li class="p2_r">
                ul. Jana Heweliusza 11/819 <br />
                80-890 Gdańsk
              </li>
              <br />
              <li class="p2_r">
                TELEFON <br />tel. +48 507 740 103<br />tel. +48 608 641 719
              </li>
              <br />
              <li class="p2_r">
                Sąd Rejonowy Gdańsk Północ <br />w Gdańsku VII Wydział
                Gospodarczy <br />KRS 0001073934.
              </li>
            </ul>
          </div>
        </section>
        <section class="collapsible footer__section">
          <div class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Strona Główan</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use href="images/sprite.svg#chevron"></use>
            </svg>
          </div>
          <div class="collapsible__content">
            <ul class="list">
              <li class="p2_b"><a href="#">O NAS</a></li>
              <br />
              <li class="p2_b"><a href="#">OFERTA</a></li>
              <br />
              <li class="p2_b"><a href="#">MISJA</a></li>
              <br />
              <li class="p2_b"><a href="#">PROJEKTY</a></li>
              <br />
              <li class="p2_b"><a href="#">KONTAKT</a></li>
            </ul>
          </div>
        </section>

        <div class="footer__brand">
          <img src="/assets/logo/Krzetaorzy_Krajobrazu_nav_.svg" alt="" />
          <p class="footer__copyright">Copyright 2025</p>
        </div>
      </div>
    </footer>

    <!-- JAVASCRIPT-->
    <script src="/js/main.js"></script>
    <!-- navbar  -->
    <!-- <script src="/js/showslides.js"></script> -->
    <script src="/js/myNavbar.js"></script>
    <script src="/js/carusel.js"></script>
    <script src="/js/gallery.js"></script>
    <script src="/js/readmore.js"></script>
    <script src="/js/projectmore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  </body>
</html>
