<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Dane</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="assets\icon\sprite_chevron.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li>NIP | PL 583-349-58-73</li>
          <li>REGON | 527142210</li>
          <li>Kapitał zakładowy 5000 PLN</li>
          <li>
            Sąd Rejonowy Gdańsk Północ w Gdańsku VII Wydział Gospodarczy KRS
            0001073934.
          </li>
        </ul>
      </div>
    </section>

    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Adres</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="assets\icon\sprite_chevron.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li>ul. Jana Heweliusza 11/819</li>
          <li>80-890 Gdańsk</li>
          <li>tel. +48 608 641 719</li>
          <li>tel. +48 507 740 103</li>
          <li>Email |</li>
          <li>biuro.kreatorzykrajobrazu@gmail.com</li>
        </ul>
      </div>
    </section>

    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Strona główna</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="assets\icon\sprite_chevron.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li><a href="#">O nas</a></li>
          <li><a href="#">Nasza oferta</a></li>
          <li><a href="#">Gdzie projektujemy</a></li>
          <li><a href="#">Nasza misja</a></li>
          <li><a href="#">Nasze projekty</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </div>
    </section>

    <section class="footer__brand">
      <img
        src="/assets/logo/svg/logotype/Kreatorzy Krajaobrazu  logotype, kolor_white, size_100px.svg"
        alt=""
      />
      <p class="footer__copyright">Copyright 2024</p>
    </section>
  </div>
</footer>
