<span class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="assets\icon\sprite.svg#icon_phone"></use>
  </svg>
</span>

<svg class="icon">
  <use xlink:href="#icon_instagram"></use></svg
><svg class="icon">
  <use xlink:href="#icon_misja"></use></svg
><svg class="icon">
  <use xlink:href="#icon_phone"></use></svg
><svg class="icon">
  <use xlink:href="#icon_signpost"></use></svg
><svg class="icon">
  <use xlink:href="#icon_tree"></use></svg
><svg class="icon">
  <use xlink:href="#menu"></use></svg
><svg class="icon">
  <use xlink:href="#chevron"></use></svg
><svg class="icon">
  <use xlink:href="#icon_conversion"></use></svg
><svg class="icon">
  <use xlink:href="#icon_email"></use></svg
><svg class="icon">
  <use xlink:href="#icon_facebook"></use></svg
><svg class="icon">
  <use xlink:href="#icon_inkedin"></use>
</svg>
