<div class="media">
  <div class="media__image"></div>
  <svg class="icon icon--primary">
    <use xlink:href="assets\icon\spriteetap.svg#signpost"></use>
  </svg>
</div>
  <div class="media__body">
    <h4 class="madia__title">ETAP PRZYGOTOWAWCZY</h4>
    <p>
      Oferujemy kompleksowe usługi z zakresu architektury krajobrazu, w tym
      analizy krajobrazowe, inwentaryzacje dendrologiczne, opinie i ekspertyzy.
      Przygotowujemy operaty dendrologiczne oraz operaty pielęgnacyjne, a także
      wytyczne w zakresie ochrony drzew na etapie budowy. Zajmujemy się również
      projektami gospodarki drzewostanem, obejmującymi przygotowanie wniosków na
      wycinkę oraz projektami nasadzeń zamiennych.
    </p>
  </div>
</div>
