<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kreatorzy Krajobrazu</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="assets\logo\svg\logo\Kreatorzy Krajaobrazu  logo, kolor_white, size_50px.svg"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="info-grid-container">
      <div class="info-row">
        <div class="info">
          <div class="info--content">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 29 29"
              fill="none"
            >
              <path
                d="M18.1084 9.91239L14.4004 2.40039L10.6924 9.91239L2.40039 11.1244L8.40039 16.9684L6.98439 25.2244L14.4004 21.3244L21.8164 25.2244L20.4004 16.9684L26.4004 11.1244L18.1084 9.91239Z"
                stroke="#1F2223"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>

          <div class="info--body">
            <h4 class="info--title">Funkcjonalność <br />i estetyka</h4>
            <p class="p2-b">
              Projektujemy przestrzenie łączące piękno i praktyczność,
              dostosowane do potrzeb użytkowników.
            </p>
          </div>
        </div>

        <div class="info">
          <div class="info--content">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 29 29"
              fill="none"
            >
              <path
                d="M24.0008 14.4004C24.0008 21.6004 14.4008 26.4004 14.4008 26.4004C14.4008 26.4004 4.80078 21.6004 4.80078 14.4004V6.00039L14.4008 2.40039L24.0008 6.00039V14.4004Z"
                stroke="#1F2223"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>

          <div class="info--body">
            <h4 class="info--title">Ekonomia <br />i trwałość</h4>
            <p class="p2-b">
              Tworzymy rozwiązania opłacalne i łatwe w utrzymaniu, przynoszące
              długoterminowe korzyści.
            </p>
          </div>
        </div>
      </div>

      <div class="info-row">
        <div class="info">
          <div class="info--content">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 29 30"
              fill="none"
            >
              <path
                d="M22.8673 4.90015C23.6683 5.23203 24.396 5.71846 25.0089 6.33165C25.6221 6.94456 26.1085 7.67227 26.4404 8.47323C26.7723 9.27418 26.9431 10.1327 26.9431 10.9997C26.9431 11.8666 26.7723 12.7251 26.4404 13.5261C26.1085 14.327 25.6221 15.0547 25.0089 15.6677L23.7369 16.9397L14.4009 26.2757L5.06492 16.9397L3.79292 15.6677C2.55489 14.4296 1.85938 12.7505 1.85938 10.9997C1.85938 9.24881 2.55489 7.56968 3.79292 6.33165C5.03095 5.09362 6.71008 4.3981 8.46092 4.3981C10.2118 4.3981 11.8909 5.09362 13.1289 6.33165L14.4009 7.60365L15.6729 6.33165C16.2858 5.71846 17.0135 5.23203 17.8145 4.90015C18.6154 4.56828 19.4739 4.39746 20.3409 4.39746C21.2079 4.39746 22.0664 4.56828 22.8673 4.90015Z"
                stroke="#1F2223"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>

          <div class="info--body">
            <h4 class="info--title">Społeczna <br />odpowiedzialność</h4>
            <p class="p2-b">
              Projektujemy miejsca sprzyjające integracji, dostępne dla
              wszystkich i wspierające zdrowy styl życia.
            </p>
          </div>
        </div>

        <div class="info">
          <div class="info--content">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 29 30"
              fill="none"
            >
              <path
                d="M14.4004 27.2002C21.0278 27.2002 26.4004 21.8276 26.4004 15.2002C26.4004 8.57278 21.0278 3.2002 14.4004 3.2002C7.77297 3.2002 2.40039 8.57278 2.40039 15.2002C2.40039 21.8276 7.77297 27.2002 14.4004 27.2002Z"
                stroke="#1F2223"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M2.40039 15.2002H26.4004"
                stroke="#1F2223"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M19.1996 15.2002C19.1069 10.7506 17.4011 6.48622 14.3996 3.2002C11.3981 6.48622 9.69231 10.7506 9.59961 15.2002C9.69231 19.6498 11.3981 23.9142 14.3996 27.2002C17.4011 23.9142 19.1069 19.6498 19.1996 15.2002Z"
                stroke="#1F2223"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>

          <div class="info--body">
            <h4 class="info--title">
              Zrównoważony rozwój i ochrona <br />bioróżnorodności
            </h4>
            <p class="p2-b">
              Dbamy o środowisko, minimalizując wpływ inwestycji na otoczenie i
              promując zachowanie naturalnych ekosystemów.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
