<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kreatorzy Krajobrazu</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="assets\logo\svg\logo\Kreatorzy Krajaobrazu  logo, kolor_white, size_50px.svg"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="info-grid-container">
      <div class="info-row">
        <div class="info"></div>

        <div class="element-z-ikona-naglowkiem-opisem">
          <div class="ikona-kontener">
            <img
              src="/assets/ikony/ikona-domyslna.svg"
              alt="Ikona"
              data-ikona="/assets/ikony/ikona-domyslna.svg"
            />
          </div>
          <h4>Nagłówek H4</h4>
          <p class="p2_b">To jest akapit z klasą p2_b.</p>
        </div>
      </div>
    </div>
  </body>
</html>
