<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kreatorzy Krajobrazu</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="assets\logo\svg\logo\Kreatorzy Krajaobrazu  logo, kolor_white, size_50px.svg"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="block block--brand" id="mission">
      <header class="container block__header mission">
        <h4 class="heading__white">Nasza misja</h4>
        <div class="grid grid--1x2">
          <div>
            <img
              class="mission__image"
              src="/assets/images/misja.svg"
              alt="Obrazek drzewa"
            />
          </div>
          <div class="media mission__content">
            <div class="media__body">
              <h2 class="madia__title heading__white">TWORZYMY Z PASJĄ</h2>
              <p class="p1_b">
                Naszą pasją jest kreowanie nowych, bujnych krajobrazów,
                przyjaznych ludziom, sprzyjających zachowaniu bioróżnorodności a
                jednocześnie funkcjonalnych i atrakcyjnych. Wprowadzamy
                innowacyjne rozwiązania i walczymy o każdy skrawek zieleni, aby
                harmonijnie łączyć naturę z przestrzenią zabudowaną.
              </p>
            </div>
          </div>
        </div>
      </header>
    </section>
  </body>
</html>
