<header style="background-color: #26402d">
  <nav class="container nav collapsible">
    <a class="nav__brand" href="/">
      <img src="/assets/logo/Krzetaorzy_Krajobrazu_nav_.svg" alt=""
    /></a>
    <svg class="icon icon--primary nav__toggler">
      <use xlink:href="assets\icon\sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list container collapsible__content" id="myNavbar">
      <li class="nav__item"><a href="#about">O NAS</a></li>
      <li class="nav__item"><a href="#offer">OFERTA</a></li>
      <li class="nav__item"><a href="#mission">MISJA</a></li>
      <li class="nav__item"><a href="#projekts">PROJEKTY</a></li>
      <li class="nav__item"><a href="#contact">KONTAKT</a></li>
    </ul>
  </nav>
</header>
