<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kreatorzy Krajobrazu</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="assets\logo\svg\logo\Kreatorzy Krajaobrazu  logo, kolor_white, size_50px.svg"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  

  <div class="project">

    <div class="image-gallery">
        <div class="gallery">
            <img src="/assets/images/projects/1_Olsztyn_Towarowa/Olsztyn_Towarowa_1.jpg" alt="Obrazek miasta 1">
            <img src="/assets/images/projects/1_Olsztyn_Towarowa/Olsztyn_Towarowa_2.jpg" alt="Obrazek miasta 2">
            <img src="/assets/images/projects/1_Olsztyn_Towarowa/Olsztyn_Towarowa_3.jpg" alt="Obrazek miasta 3">
            <img src="/assets/images/projects/1_Olsztyn_Towarowa/Olsztyn_Towarowa_4.jpg" alt="Obrazek miasta 4">
        </div>
    </div>
    <div class="arrows">
      <button class="arrow arrow-left">
          <img src="/assets/icon/arrow-left.svg" alt="Strzałka w lewo" class="arrow-svg">
      </button>
      <button class="arrow arrow-right">
          <img src="/assets/icon/arrow-right.svg" alt="Strzałka w prawo" class="arrow-svg">
      </button>
  </div>
    <h4 class="project--heading">Miasto nazwa</h4>
    <h5 class="project--heading">Tytuł tematu</h5>
    <p class="p2_r">Lorem ipsum dolor sit amet consectetur. Eget id eu libero sapien dui id in. Pharetra iaculis ac nulla facilisi tincidunt. Morbi eget ipsum justo maecenas turpis eu amet nunc urna. Hendrerit aliquam facilisi vulputate ut nulla. Etiam scelerisque enim viverra vestibulum est dictum neque. Tincidunt eu nulla est ultrices eget lorem dictum. Nunc viverra consectetur congue sed amet duis sed. Enim vulputate id tellus nunc ut quam in. Felis lorem nibh aliquam lobortis etiam nisl gravida. Enim cras nibh venenatis viverra fusce. Risus dui est condimentum posuere nunc metus. Diam id dui posuere euismod amet ultrices mauris. Maecenas tincidunt mattis ut ante ipsum etiam ultrices vestibulum. Commodo pellentesque sed et sed vel nulla consectetur integer. Mauris viverra adipiscing mi sem sed.</p>
    <button class="btn btn--primary">Czytaj mniej</button>
</div>






















<!-- 
<div class="card project">
  <div class="grid grid--1x2">
    <img
      class="project__image"
      src="/assets/images/projects/Gdansk_parking_Biskupia/Gdansk_parking_Biskupia_1.jpg"
      alt="fotografi realizacji Gdansk parking Biskupia"
    />
    <div>
      <blockquote class="quote">
        <h3 class="quote__heading">Tytul przedięwzięcia</h3>
        <p class="quote__text">
          opis przedsięwzięcia Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Error, nemo saepe? Soluta veniam similique atque
          ipsa accusamus, vel beatae sunt.
        </p>
        <footer>
          <div class="media">
            <div class="media__body">
              <h4 class="madia__title quote__city">POLSKA | Miasto</h4>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</div> -->

    <!-- JAVASCRIPT-->
    <script src="/js/main.js"></script>
    <script src="/js/showslides.js"></script>
    <script src="/js/myNavbar.js"></script>
    <script src="/js/carusel.js"></script>
    <script src="/js/gallery.js"></script>



</body>
</html>