<div class="card project">
  <div class="grid grid--1x2">
    <img
      class="project__image"
      src="/assets/images/projects/Gdansk_parking_Biskupia/Gdansk_parking_Biskupia_1.jpg"
      alt="fotografi realizacji Gdansk parking Biskupia"
    />
    <div>
      <blockquote class="quote">
        <h3 class="quote__heading">Tytul przedięwzięcia</h3>
        <p class="quote__text">
          opis przedsięwzięcia Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Error, nemo saepe? Soluta veniam similique atque
          ipsa accusamus, vel beatae sunt.
        </p>
        <footer>
          <div class="media">
            <div class="media__body">
              <h4 class="madia__title quote__city">POLSKA | Miasto</h4>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
