   
     <!-- NAVBAR -->






    
     <header style="background-color: #26402d">
      <nav class="container nav collapsible">
        <a class="nav__brand" href="/">
          <img
            src="/assets/logo/Krzetaorzy_Krajobrazu_nav_.svg"
            alt="Logo Kreatorzy Krajobrazu"
        /></a>
        <svg class="icon icon--primary nav__toggler">
          <use xlink:href="assets\icon\sprite.svg#menu"></use>
        </svg>
        <ul class="list nav__list container collapsible__content" id="myNavbar">
          <li class="nav__item"><a href="#about">O nas</a></li>
          <li class="nav__item"><a href="#offer">Oferta</a></li>
          <li class="nav__item"><a href="#mission">Misja</a></li>
          <li class="nav__item"><a href="#projekts">Projekty</a></li>
          <button class="btn btn--primery">Kontakt</button>
        </ul>
      </nav>
    </header>

    <!-- HERO -->
    <section class="block block--dark hero">
      <div class="container grid">
        <div class="hero__content">
          <header class="block__header">
            <h1 class="block__heading hero__heading">
              Kreatywna zieleń <br />dla Twojej inwestycji
            </h1>
          </header>
          <div class="arrow arrow-secondary arrow-down">
            <img src="/assets/icon/arrow-down.svg" alt="Arrow Down" />
          </div>
        </div>
      </div>
    </section>
   
   
   
   
   <!-- NAV-->
   <header style="background-color: #26402d">
    <nav class="container nav collapsible">
      <a class="nav__brand" href="/">
        <img src="/assets/logo/Krzetaorzy_Krajobrazu_nav_.svg" alt=""
      /></a>
      <svg class="icon icon--primary nav__toggler">
        <use xlink:href="assets\icon\sprite.svg#menu"></use>
      </svg>
      <ul class="list nav__list container collapsible__content" id="myNavbar">
        <li class="nav__item"><a href="#about">O nas</a></li>
        <li class="nav__item"><a href="#offer">Oferta</a></li>
        <li class="nav__item"><a href="#mission">Misja</a></li>
        <li class="nav__item"><a href="#projekts">Projekty</a></li>
        <button class="btn btn--primery">Kontakt</button>
      </ul>
    </nav>
  </header>

  <!-- HERO-->
  <section class="block block--dark hero">
    <div class="container grid">
      <div class="hero__content">
        <header class="block__header">
          <h1 class="block__heading hero__heading">
            Kreatywna zieleń <br />dla Twojej inwestycji
          </h1>
        </header>
        <div class="arrow arrow-secondary arrow-down">
          <img src="/assets/icon/arrow-down.svg" alt="Arrow Down" />
        </div>
      </div>
    </div>
  </section>

  <!-- ABOUT US-->
  <section class="block container">
    <header class="block__header onas">
      <h4 class="header__small_right heading__color_H400">O nas</h4>
      <h2 class="heading__color_H400">
        Profesjonalizm i doświadczenie <br />
        w zazielenianiu przestrzeni
      </h2>
      <p class="p1_r">
        Jesteśmy zespołem architektów krajobrazu, których pasją jest zieleń –
        zarówno projektowanie jak i ochrona istniejących zadrzewień.
      </p>
      <br />
      <p class="p1_r">
        Dzięki wieloletniemu doświadczeniu i dbałości o detale tworzymy
        przestrzenie, które harmonijnie łączą funkcjonalność z estetyką,
        zachowując jednocześnie cenne wartości przyrodnicze. Współpracujemy z
        biurami projektowymi, instytucjami publicznymi i inwestorami
        prywatnymi, zapewniając fachową wiedzę oraz solidne dokumentacje.
      </p>
    </header>

    <div class="grid grid--1x3">
      <div>
        <img
          class="onas__image"
          src="/assets/images/o_nas_image.jpg"
          alt=""
        />
      </div>

      

    <div class="media onas__content">
      <div class="media__body">
        <h3 class="madia__title">Funkcjonalność i estetyka przestrzeni:</h3>

        <p>
          Tworzenie przestrzeni, które są zarówno funkcjonalne, jak i
          estetycznie atrakcyjne, spełniając potrzeby użytkowników oraz
          inwestorów. Uwzględnianie aspektów estetycznych, takich jak
          kolorystyka, struktura i kompozycja roślin, oraz elementów małej
          architektury.
        </p>
      </div>

      <div class="media__body">
        <h3 class="madia__title">Ekonomia i długoterminowa trwałość:</h3>
        <p>
          Projektowanie przestrzeni, które są ekonomicznie opłacalne w
          realizacji i utrzymaniu, uwzględniając koszty budowy, pielęgnacji i
          zarządzania. Inwestowanie w rozwiązania, które przynoszą
          długoterminowe korzyści, takie jak zwiększenie wartości
          nieruchomości czy zmniejszenie kosztów eksploatacji.
        </p>
      </div>
    </div>

    <div class="media onas__content">
      <div class="media__body">
        <h3 class="madia__title">Społeczna odpowiedzialność i integracja:</h3>
        <p>
          Tworzenie przestrzeni, które wspierają integrację społeczną i są
          dostępne dla różnych grup społecznych, w tym osób niepełnosprawnych.
          Projektowanie przestrzeni publicznych, które wspierają zdrowie i
          dobre samopoczucie mieszkańców, promując aktywny styl życia.
        </p>
      </div>

      <div class="media__body">
        <h3 class="madia__title">
          Zrównoważony rozwój i ochrona środowiska:
        </h3>
        <p>
          Zajmujemy się projektowaniem terenów zielonych, które minimalizują
          negatywny wpływ na środowisko naturalne. Wdrażanie praktyk
          zrównoważonego rozwoju, takich jak zarządzanie wodą deszczową oraz
          promowanie bioróżnorodności. Ochrona i integracja istniejących
          naturalnych ekosystemów w ramach nowych inwestycji.
        </p>
      </div>
    </div>
  </section>

  <!-- OFFER-->
  <section class="block block--dark">
    <header class="container block__header oferta">
      <h4>NASZA OFERTA</h4>
      <h2>ZIELONE INWESTYCJE</h2>
      <p>
        Nasza praca koncentruje się na zielonych inwestycjach, obejmujących
        zieleń komunikacyjną, miejską, osiedlową oraz tereny wokół obiektów
        komercyjnych i użyteczności publicznej. Tworzymy funkcjonalne i
        estetyczne przestrzenie dla społeczności. Nasi specjaliści posiadają
        bogate doświadczenie i zapewniają kompleksową obsługę na każdym etapie
        projektu.
      </p>
    </header>

    <div class="container grid grid--1x3">
      <div class="media__body">
        <h3 class="madia__title">
          <img
            src="assets/icon/icon_signpost.svg"
            alt="Ikona znaku"
            class="icon"
          />
          ETAP PRZYGOTOWAWCZY
        </h3>
        <p>
          Oferujemy kompleksowe usługi z zakresu architektury krajobrazu, w
          tym analizy krajobrazowe, inwentaryzacje dendrologiczne, opinie i
          ekspertyzy. Przygotowujemy operaty dendrologiczne oraz operaty
          pielęgnacyjne, a także wytyczne w zakresie ochrony drzew na etapie
          budowy.
        </p>
      </div>

      <div class="media__body">
        <h3 class="madia__title">
          <img
            src="assets/icon/icon_conversion.svg"
            alt="Ikona znaku"
            class="icon"
          />
          ETAP PROJEKTOWY
        </h3>
        <p>
          Oferujemy projekty nowych założeń zieleni, a także rozbudowy,
          rewitalizacje i modernizacje istniejących przestrzeni.
          Współpracujemy z branżystami: architektami, urbanistami,
          konstruktorami, projektantami drogowymi i sieciowymi – w razie
          potrzeby dysponujemy własną bazą specjalistów chętnych do współpracy
          projektowej.
        </p>
      </div>

      <div class="media__body">
        <h3 class="madia__title">
          <img
            src="assets/icon/icon_tree.svg"
            alt="Ikona znaku"
            class="icon"
          />
          ETAP REALIZACJI
        </h3>
        <p>
          Oferujemy nadzory autorskie oraz nadzory inspektorskie. Posiadamy
          uprawnienia Inspektora Nadzoru Terenów Zieleni, co pozwala nam
          zapewnić najwyższą jakość i zgodność realizacji projektów z
          założeniami.
        </p>
      </div>
    </div>
  </section>

  <!-- PLACE -->
  <section class="block">
    <header class="container block__header">
      <h4 class="header__small_right">GDZIE PROJEKTUJEMY</h4>
      <h2>Projektujemy w różnorodnych terenach:</h2>
    </header>

    <div class="container grid grid--1x3 grid__container card__space">
      <article class="card">
        <img
          class="card__background"
          src="/assets/images/resize/image_teren_inwestycyjny@2x.webp"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
        />
        <div class="card__content">
          <h3 class="card__title">TERENY INWESTYCYJNE</h3>
          <p class="card__description">
            Projektowanie zielonych stref wokół obiektów komercyjnych i
            przemysłowych. Tworzenie atrakcyjnych i funkcjonalnych przestrzeni
            dla pracowników i klientów.
          </p>
        </div>
      </article>

      <article class="card">
        <img
          class="card__background"
          src="/assets/images/resize/image_teren_mieszkaniowe@2x.webp"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
        />
        <div class="card__content">
          <h3 class="card__title">Tereny mieszkaniowe</h3>
          <p class="card__description">
            Kształtowanie zielonych osiedli, ogrodów i parków dla mieszkańców.
            Projektowanie przestrzeni rekreacyjnych i wypoczynkowych, które
            sprzyjają integracji społecznej.
          </p>
        </div>
      </article>

      <article class="card">
        <img
          class="card__background"
          src="/assets/images/resize/image_teren_publiczne@2x.webp"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
        />
        <div class="card__content">
          <h3 class="card__title">Tereny publiczne</h3>
          <p class="card__description">
            Tworzenie parków, placów, skwerów oraz innych przestrzeni
            publicznych dostępnych dla wszystkich mieszkańców. Uwzględnianie
            potrzeb różnych grup społecznych, w tym osób niepełnosprawnych.
          </p>
        </div>
      </article>
    </div>
  </section>

  <!-- MISSION-->
  <section class="block block--dark">
    <header class="container block__header mission">
      <h4>Nasza misja</h4>
      <div class="grid grid--1x2">
        <div>
          <img class="mission__image" src="/assets/images/misja.svg" alt="" />
        </div>
        <div class="media mission__content">
          <div class="media__body">
            <h2 class="madia__title">TWORZYMY Z PASJĄ</h2>
            <p>
              Naszą pasją jest tworzyć nowy, bujny krajobraz, przyjazny
              ludziom, sprzyjający zachowaniu bioróżnorodności a jednocześnie
              funkcjonalny i atrakcyjny. Nie boimy się nietypowych rozwiązań i
              jesteśmy w stanie zawalczyć o każdy fragment zieleni.
            </p>
          </div>
        </div>
      </div>
    </header>
  </section>

  <!-- PROJECT-->
  <section class="block">
    <header class="container block__header">
      <h4 class="header__small_right">nasze projekty</h4>
      <h2>Odkryj nasze realizacje</h2>
    </header>

    <div class="container">
      <div class="grid grid__container">
        <!-- Projekt 1 Budowa ul. Towarowej wraz z przebudową ul. Lubelskiej w Olsztynie-->
        <article class="card__project">
          <div class="slideshow-container" id="slideshow1">
            <div class="mySlides fade" data-slideshow="1">
              <div class="numbertext">1 / 4</div>
              <img
                src="/assets/images/projects/1_Olsztyn_Towarowa/Olsztyn_Towarowa_1.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="1">
              <div class="numbertext">2 / 4</div>
              <img
                src="/assets/images/projects/1_Olsztyn_Towarowa/Olsztyn_Towarowa_2.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="1">
              <div class="numbertext">3 / 4</div>
              <img
                src="/assets/images/projects/1_Olsztyn_Towarowa/Olsztyn_Towarowa_3.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="1">
              <div class="numbertext">4 / 4</div>
              <img
                src="/assets/images/projects/1_Olsztyn_Towarowa/Olsztyn_Towarowa_4.jpg"
                style="width: 100%"
              />
            </div>
            <a class="prev" onclick="plusSlides(-1, 0)">❮</a>
            <a class="next" onclick="plusSlides(1, 0)">❯</a>
          </div>
          <div class="project__paragraf">
            <h4 class="project__title">
              Budowa ul. Towarowej wraz z przebudową ul. Lubelskiej w
              Olsztynie
            </h4>
            <p class="project__content">
              Budowa ul. Towarowej wraz z przebudową ul. Lubelskiej w
              Olsztynie.Prace obejmowały poszerzenie jezdni, modernizację
              nawierzchni oraz poprawę systemu odwadniającego, co znacznie
              zwiększyło komfort i bezpieczeństwo użytkowników drogi.
              Dodatkowo, zrealizowano nowe chodniki oraz ścieżki rowerowe, co
              sprzyjało poprawie bezpieczeństwa pieszych i rowerzystów.
              Projekt uwzględniał także nowe nasadzenia zieleni, które
              poprawiły estetykę okolicy i przyczyniły się do lepszej jakości
              życia mieszkańców.
            </p>
            <p class="projekt__city" style="text-align: left">
              Olsztyn | POLSKA
            </p>
          </div>
        </article>

        <!-- Projekt 2 Modernizacja ul. Pieniężnego w Olsztynie-->
        <article class="card__project">
          <div class="slideshow-container" id="slideshow2">
            <div class="mySlides fade" data-slideshow="2">
              <div class="numbertext">1 / 3</div>
              <img
                src="/assets/images/projects/2_Olsztyn_Pieniężnego/Olsztyn_Pieniężnego_1.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="2">
              <div class="numbertext">2 / 3</div>
              <img
                src="/assets/images/projects/2_Olsztyn_Pieniężnego/Olsztyn_Pieniężnego_2.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="2">
              <div class="numbertext">3 / 3</div>
              <img
                src="/assets/images/projects/2_Olsztyn_Pieniężnego/Olsztyn_Pieniężnego_3.jpg"
                style="width: 100%"
              />
            </div>
            <a class="prev" onclick="plusSlides(-1, 1)">❮</a>
            <a class="next" onclick="plusSlides(1, 1)">❯</a>
          </div>
          <div class="project__paragraf">
            <h4 class="project__title">
              Modernizacja ul. Pieniężnego w Olsztynie
            </h4>
            <p class="project__content">
              Modernizacja ul. Pieniężnego w Olsztynie miała na celu poprawę
              infrastruktury i funkcjonalności tej kluczowej arterii
              miejskiej. Prace obejmowały wymianę nawierzchni, poszerzenie
              jezdni oraz modernizację systemu odwadniającego, co znacznie
              poprawiło komfort i bezpieczeństwo użytkowników drogi.
            </p>
            <p class="projekt__city">Olsztyn | POLSKA</p>
          </div>
        </article>

        <!-- Projekt 3 Budowa połączenia Parku Podzamcze, Parku Centralnego i fragmentu plant w Olsztynie-->
        <article class="card__project">
          <div class="slideshow-container" id="slideshow3">
            <div class="mySlides fade" data-slideshow="3">
              <div class="numbertext">1 / 4</div>
              <img
                src="/assets/images/projects/3_Olsztyn_planty/Olsztyn_planty_1.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="3">
              <div class="numbertext">2 / 4</div>
              <img
                src="/assets/images/projects/3_Olsztyn_planty/Olsztyn_planty_2.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="3">
              <div class="numbertext">3 / 4</div>
              <img
                src="/assets/images/projects/3_Olsztyn_planty/Olsztyn_planty_3.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="3">
              <div class="numbertext">4 / 4</div>
              <img
                src="/assets/images/projects/3_Olsztyn_planty/Olsztyn_planty_4.jpg"
                style="width: 100%"
              />
            </div>
            <a class="prev" onclick="plusSlides(-1, 2)">❮</a>
            <a class="next" onclick="plusSlides(1, 2)">❯</a>
          </div>
          <div class="project__paragraf">
            <h4 class="project__title">
              Budowa połączenia Parku Podzamcze, Parku Centralnego i fragmentu
              plant w Olsztynie
            </h4>
            <p class="project__content">
              Budowa połączenia Parku Podzamcze, Parku Centralnego i fragmentu
              plant w Olsztynie miała na celu stworzenie spójnej sieci
              zielonych przestrzeni miejskich, które łączą ważne obszary
              rekreacyjne w mieście. Projekt obejmował budowę nowych ścieżek
              spacerowych i rowerowych, które ułatwiły dostęp do parków oraz
              plant. Zrealizowano także modernizację istniejących terenów
              zielonych oraz nasadzenia nowych roślin, które wzbogaciły
              estetykę i funkcjonalność przestrzeni.
            </p>
            <p class="projekt__city">Olsztyn | POLSKA</p>
          </div>
        </article>

        <!-- Projekt 4 Rozbudowa linii tramwajowej w Olsztynie – połączenie osiedli Jaroty i Pieczewo z dworcem PKP/PKS i Śródmieściem-->
        <article class="card__project">
          <div class="slideshow-container" id="slideshow4">
            <div class="mySlides fade" data-slideshow="4">
              <div class="numbertext">1 / 4</div>
              <img
                src="/assets/images/projects/4_Olsztyn_tramwaj/Olsztyn_tramwaj_1.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="4">
              <div class="numbertext">2 / 4</div>
              <img
                src="/assets/images/projects/4_Olsztyn_tramwaj/Olsztyn_tramwaj_2.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="4">
              <div class="numbertext">3 / 4</div>
              <img
                src="/assets/images/projects/4_Olsztyn_tramwaj/Olsztyn_tramwaj_3.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="4">
              <div class="numbertext">4 / 4</div>
              <img
                src="/assets/images/projects/4_Olsztyn_tramwaj/Olsztyn_tramwaj_4.jpg"
                style="width: 100%"
              />
            </div>
            <a class="prev" onclick="plusSlides(-1, 3)">❮</a>
            <a class="next" onclick="plusSlides(1, 3)">❯</a>
          </div>
          <div class="project__paragraf">
            <h4 class="project__title">
              Rozbudowa linii tramwajowej w Olsztynie – połączenie osiedli
              Jaroty i Pieczewo z dworcem PKP/PKS i Śródmieściem
            </h4>
            <p class="project__content">
              Prace obejmowały poszerzenie jezdni, modernizację nawierzchni
              oraz poprawę systemu odwadniającego, co znacznie zwiększyło
              komfort i bezpieczeństwo użytkowników drogi. Dodatkowo,
              zrealizowano nowe chodniki oraz ścieżki rowerowe, co sprzyjało
              poprawie bezpieczeństwa pieszych i rowerzystów. Projekt
              uwzględniał także nowe nasadzenia zieleni, które poprawiły
              estetykę okolicy i przyczyniły się do lepszej jakości życia
              mieszkańców.
            </p>
            <p class="projekt__city">Olsztyn | POLSKA</p>
          </div>
        </article>

        <!-- Projekt 5 Rozbudowa ulic: Wybickiego, Plac Grunwaldzki i Armii Krajowej w rejonie Teatru Muzycznego i Szkoły Filmowej w Gdyni -->
        <article class="card__project">
          <div class="slideshow-container" id="slideshow5">
            <div class="mySlides fade" data-slideshow="5">
              <div class="numbertext">1 / 4</div>
              <img
                src="/assets/images/projects/5_Gdynia_szkołaFilmowa/Gdynia_szkołaFilmowa_1.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="5">
              <div class="numbertext">2 / 4</div>
              <img
                src="/assets/images/projects/5_Gdynia_szkołaFilmowa/Gdynia_szkołaFilmowa_2.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="5">
              <div class="numbertext">3 / 4</div>
              <img
                src="/assets/images/projects/5_Gdynia_szkołaFilmowa/Gdynia_szkołaFilmowa_3.jpg"
                style="width: 100%"
              />
            </div>
            <a class="prev" onclick="plusSlides(-1, 4)">❮</a>
            <a class="next" onclick="plusSlides(1, 4)">❯</a>
          </div>
          <div class="project__paragraf">
            <h4 class="project__title">
              Rozbudowa ulic: Wybickiego, Plac Grunwaldzki i Armii Krajowej w
              rejonie Teatru Muzycznego i Szkoły Filmowej w Gdyni
            </h4>
            <p class="project__content">
              Inwestycja obejmowała modernizację nawierzchni, poszerzenie
              jezdni oraz stworzenie nowych miejsc parkingowych, co znacząco
              usprawniło ruch drogowy. Dodatkowo, zrealizowano nowe
              rozwiązania zieleni miejskiej, które poprawiły estetykę i
              komfort życia mieszkańców oraz użytkowników tej przestrzeni.
            </p>
            <p class="projekt__city">GDYNIA | POLSKA</p>
          </div>
        </article>

        <!-- Projekt 6 Budowa pomnika Gdynian Wysiedlonych w Gdyni wraz z zagospodarowaniem terenu-->
        <article class="card__project">
          <div class="slideshow-container" id="slideshow6">
            <div class="mySlides fade" data-slideshow="6">
              <div class="numbertext">1 / 4</div>
              <img
                src="/assets/images/projects/6_Gdynia_ pomnikaWysiedlonych/Gdynia_ pomnikaWysiedlonych_1.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="6">
              <div class="numbertext">2 / 4</div>
              <img
                src="/assets/images/projects/6_Gdynia_ pomnikaWysiedlonych/Gdynia_ pomnikaWysiedlonych_2.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="6">
              <div class="numbertext">3 / 4</div>
              <img
                src="/assets/images/projects/6_Gdynia_ pomnikaWysiedlonych/Gdynia_ pomnikaWysiedlonych_3.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="6">
              <div class="numbertext">4 / 4</div>
              <img
                src="/assets/images/projects/6_Gdynia_ pomnikaWysiedlonych/Gdynia_ pomnikaWysiedlonych_4.jpg"
                style="width: 100%"
              />
            </div>
            <a class="prev" onclick="plusSlides(-1, 5)">❮</a>
            <a class="next" onclick="plusSlides(1, 5)">❯</a>
          </div>
          <div class="project__paragraf">
            <h4 class="project__title">
              Budowa pomnika Gdynian Wysiedlonych w Gdyni wraz z
              zagospodarowaniem terenu
            </h4>
            <p class="project__content">
              Zagospodarowaniem terenu, miała na celu upamiętnienie trudnej
              historii mieszkańców miasta oraz stworzenie przestrzeni do
              refleksji i pamięci. Projekt obejmował nie tylko sam monument,
              ale również aranżację otaczającego terenu, w tym nowe nasadzenia
              zieleni, ścieżki spacerowe oraz miejsca do siedzenia.
            </p>
            <p class="projekt__city">GDYNIA | POLSKA</p>
          </div>
        </article>

        <!-- Projekt 7 Rewitalizacja terenów dz.Chylonia w Gdyni m.in. poprzez rozbudowę ul. Komierowskiego, Opata Hackiego, Zamenhofa, Chylońskiej i Św. Mikołaja oraz budowę kolektora deszczowego do rz. Chylonki-->
        <article class="card__project">
          <div class="slideshow-container" id="slideshow7">
            <div class="mySlides fade" data-slideshow="7">
              <div class="numbertext">1 / 4</div>
              <img
                src="/assets/images/projects/7_Gdynia_Zamenhofa/Gdynia_Zamenhofa_1.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="7">
              <div class="numbertext">2 / 4</div>
              <img
                src="/assets/images/projects/7_Gdynia_Zamenhofa/Gdynia_Zamenhofa_2.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="7">
              <div class="numbertext">3 / 4</div>
              <img
                src="/assets/images/projects/7_Gdynia_Zamenhofa/Gdynia_Zamenhofa_3.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="7">
              <div class="numbertext">4 / 4</div>
              <img
                src="/assets/images/projects/7_Gdynia_Zamenhofa/Gdynia_Zamenhofa_4.jpg"
                style="width: 100%"
              />
            </div>
            <a class="prev" onclick="plusSlides(-1, 6)">❮</a>
            <a class="next" onclick="plusSlides(1, 6)">❯</a>
          </div>
          <div class="project__paragraf">
            <h4 class="project__title">
              Rewitalizacja terenów dz.Chylonia w Gdyni m.in. poprzez
              rozbudowę ul. Komierowskiego, Opata Hackiego, Zamenhofa,
              Chylońskiej i Św. Mikołaja oraz budowę kolektora deszczowego do
              rz. Chylonki
            </h4>
            <p class="project__content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </p>
            <p class="projekt__city">Olsztyn | POLSKA</p>
          </div>
        </article>

        <!-- Projekt 8 Wiadukt Biskupia Górka w Gdańsku-->
        <article class="card__project">
          <div class="slideshow-container" id="slideshow8">
            <div class="mySlides fade" data-slideshow="8">
              <div class="numbertext">1 / 4</div>
              <img
                src="/assets/images/projects/8_Gdansk_parking_Biskupia/Gdansk_parking_Biskupia_1.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="8">
              <div class="numbertext">2 / 4</div>
              <img
                src="/assets/images/projects/8_Gdansk_parking_Biskupia/Gdansk_parking_Biskupia_2.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="8">
              <div class="numbertext">3 / 4</div>
              <img
                src="/assets/images/projects/8_Gdansk_parking_Biskupia/Gdansk_parking_Biskupia_3.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="8">
              <div class="numbertext">4 / 4</div>
              <img
                src="/assets/images/projects/8_Gdansk_parking_Biskupia/Gdansk_parking_Biskupia_4.jpg"
                style="width: 100%"
              />
            </div>
            <a class="prev" onclick="plusSlides(-1, 7)">❮</a>
            <a class="next" onclick="plusSlides(1, 7)">❯</a>
          </div>
          <div class="project__paragraf">
            <h4 class="project__title">Wiadukt Biskupia Górka w Gdańsku</h4>
            <p class="project__content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </p>
            <p class="projekt__city">Olsztyn | POLSKA</p>
          </div>
        </article>

        <!-- Projekt 9 most św. Jakuba W OLSZTYNIE-->
        <article class="card__project">
          <div class="slideshow-container" id="slideshow9">
            <div class="mySlides fade" data-slideshow="9">
              <div class="numbertext">1 / 4</div>
              <img
                src="/assets/images/projects/9_Olsztyn_most św. Jakuba/Olsztyn_most św. Jakuba1.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="9">
              <div class="numbertext">2 / 4</div>
              <img
                src="/assets/images/projects/9_Olsztyn_most św. Jakuba/Olsztyn_most św. Jakuba2.jpg"
                style="width: 100%"
              />
            </div>
            <div class="mySlides fade" data-slideshow="9">
              <div class="numbertext">3 / 4</div>
              <img
                src="/assets/images/projects/9_Olsztyn_most św. Jakuba/Olsztyn_most św. Jakuba3.jpg"
                style="width: 100%"
              />
            </div>
            <a class="prev" onclick="plusSlides(-1, 8)">❮</a>
            <a class="next" onclick="plusSlides(1, 8)">❯</a>
          </div>
          <div class="project__paragraf">
            <h4 class="project__title">most św. Jakuba W OLSZTYNIE</h4>
            <p class="project__content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </p>
            <p class="projekt__city">Olsztyn | POLSKA</p>
          </div>
        </article>
      </div>
    </div>
  </section>

  <!-- CONTACT-->
  <section class="block block--dark contact">
    <div class="container grid grid--1x2">
      <div class="contact__header">
        <h2 class="block__heading">GOTOWY NA WSPÓŁPRACĘ?</h2>
        <h2 class="block__heading">NAPISZ DO NAS JUż DZIS!</h2>
        <p>
          Nasz zespół doświadczonych profesjonalistów jest gotowy odpowiedzieć
          na Twoje pytania i udzielić wsparcia. Skontaktuj się z nami teraz,
          aby rozpocząć współpracę!
        </p>
      </div>
      <div class="form--area">
        <div class="wrapper">
          <form>
            <input type="text" placeholder="Imię..." />
            <input type="text" placeholder="Nazwisko..." />
            <input type="text" placeholder="Email" />
            <textarea
              cols="30"
              rows="10"
              placeholder="Napisz do nas..."
            ></textarea>
            <a href="#">Submite</a>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer class="block block--dark footer">
    <div class="container grid footer__sections">
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Dane</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="assets\icon\sprite_chevron.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list footer__list">
            <li>REGON | 527 142 210</li>
            <li>NIP | PL 583-349-58-73</li>
            <li>
              Sąd Rejonowy Gdańsk Północ w Gdańsku VII Wydział Gospodarczy
              <br />
              KRS 0001073934.
            </li>
          </ul>
        </div>
      </section>

      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Adres</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="assets\icon\sprite_chevron.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list footer__list">
            <li>ul. Jana Heweliusza 11/819</li>
            <li>80-890 Gdańsk</li>
            <li>tel. +48 507 740 103</li>
            <li>tel. +48 608 641 719</li>
            <li>Email |</li>
            <li>biuro@kreatorzykrajobrazu.pl</li>
          </ul>
        </div>
      </section>

      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Strona główna</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="assets\icon\sprite_chevron.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list footer__list">
            <li><a href="#about">O nas</a></li>
            <li><a href="#offer">Oferta</a></li>
            <li><a href="#mission">Misja</a></li>
            <li><a href="#projekts">Projekty</a></li>
            <li><a href="#contact">Kontakt</a></li>
          </ul>
        </div>
      </section>

      <section class="footer__brand">
        <img
          src="/assets/logo/svg/logotype/Kreatorzy Krajaobrazu  logotype, kolor_white, size_100px.svg"
          alt=""
        />
        <p class="footer__copyright">Copyright 2024</p>
      </section>
    </div>
  </footer>

  <!-- COPYRIGHT -->
  <section class="block block--dark">
    <div class="container"></div>
  </section>