<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kreatorzy Krajobrazu</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="assets\logo\svg\logo\Kreatorzy Krajaobrazu  logo, kolor_white, size_50px.svg"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="element-z-ikona-naglowkiem-opisem">
      <div class="ikona-kontener">
        <img
          src="/assets/icon/star.svg"
          alt="Ikona"
          data-ikona="/assets/ikony/ikona-domyslna.svg"
        />
      </div>
      <h4>
        Funkcjonalność <br />
        i estetyka
      </h4>
      <p class="p2_b">
        Projektujemy przestrzenie łączące piękno i praktyczność, dostosowane do
        potrzeb użytkowników.
      </p>
    </div>

    <!-- JAVASCRIPT-->
    <script src="/js/main.js"></script>
    <!-- navbar  -->
    <!-- <script src="/js/showslides.js"></script> -->
    <script src="/js/myNavbar.js"></script>
    <script src="/js/carusel.js"></script>
    <script src="/js/gallery.js"></script>
    <script src="/js/readmore.js"></script>
    <script src="/js/projectmore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  </body>
</html>
