<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kreatorzy Krajobrazu</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="assets\logo\svg\logo\Kreatorzy Krajaobrazu  logo, kolor_white, size_50px.svg"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="main-container">
      <div class="stage-container">
        <div class="stage-item">
          <div class="stage-title-container">
            <img
              src="assets/icon/icon_signpost.svg"
              alt="Ikona znaku"
              class="icon"
            />
            <h3 class="stage-title">ETAP PRZYGOTOWAWCZY</h3>
          </div>
          <div class="stage-description">Oferujemy kompleksowe usługi...</div>
        </div>

        <div class="stage-item">
          <div class="stage-title-container">
            <img
              src="assets/icon/icon_signpost.svg"
              alt="Ikona znaku"
              class="icon"
            />
            <h3 class="stage-title">ETAP PRZYGOTOWAWCZY</h3>
          </div>
          <div class="stage-description">
            Oferujemy projekty nowych założeń...
          </div>
        </div>

        <div class="stage-item">
          <div class="stage-title-container">
            <img
              src="assets/icon/icon_signpost.svg"
              alt="Ikona znaku"
              class="icon"
            />
            <h3 class="stage-title">ETAP PRZYGOTOWAWCZY</h3>
          </div>
          <div class="stage-description">Oferujemy nadzory autorskie...</div>
        </div>
      </div>
      <div>
        <img src="/assets/images/offer_image.jpeg" alt="Obraz" />
      </div>
    </div>

    <!-- JAVASCRIPT-->
    <script src="/js/main.js"></script>
    <!-- navbar  -->
    <!-- <script src="/js/showslides.js"></script> -->
    <script src="/js/myNavbar.js"></script>
    <script src="/js/carusel.js"></script>
    <script src="/js/gallery.js"></script>
    <script src="/js/readmore.js"></script>
    <script src="/js/projectmore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  </body>
</html>
