<section class="block about">
  <header class="container block__header oferta">
    <h4>GDZIE PROJEKTUJEMY</h4>
    <h2>Projektujemy w różnorodnych terenach:</h2>
  </header>

  <div class="card__space">
    <article class="container card">
      <img
        class="card__background"
        src="/assets/images/image_teren_inwestycyjny.jpg"
        alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      />
      <div class="card__content | flow">
        <div class="card__content--container | flow">
          <h4 class="card__title">TERENY INWESTYCYJNE</h4>
          <p class="card__description">
            Projektowanie zielonych stref wokół obiektów komercyjnych i
            przemysłowych. Tworzenie atrakcyjnych i funkcjonalnych przestrzeni
            dla pracowników i klientów.
          </p>
        </div>
      </div>
    </article>
    <article class="container card">
      <img
        class="card__background"
        src="/assets/images/image_teren_mieszkaniowe.jpg"
        alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      />
      <div class="card__content | flow">
        <div class="card__content--container | flow">
          <h4 class="card__title">Tereny mieszkaniowe</h4>
          <p class="card__description">
            Kształtowanie zielonych osiedli, ogrodów i parków dla mieszkańców.
            Projektowanie przestrzeni rekreacyjnych i wypoczynkowych, które
            sprzyjają integracji społecznej.
          </p>
        </div>
      </div>
    </article>
    <article class="container card">
      <img
        class="card__background"
        src="/assets/images/image_teren_publiczne.jpg"
        alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      />
      <div class="card__content | flow">
        <div class="card__content--container | flow">
          <h4 class="card__title">Tereny publiczne</h4>
          <p class="card__description">
            Tworzenie parków, placów, skwerów oraz innych przestrzeni
            publicznych dostępnych dla wszystkich mieszkańców. Uwzględnianie
            potrzeb różnych grup społecznych, w tym osób niepełnosprawnych.
          </p>
        </div>
      </div>
    </article>
  </div>
</section>

<section class="block block--dark">
  <header class="container block__header mission">
    <h4>Nasza misja</h4>
    <div class="grid grid--1x2">
      <div>
        <img class="mission__image" src="/assets/images/misja.svg" alt="" />
      </div>
      <div class="media mission__content">
        <div class="media__body">
          <h2 class="madia__title">TWORZYMY Z PASJĄ</h2>
          <p>
            Naszą pasją jest tworzyć nowy, bujny krajobraz, przyjazny ludziom,
            sprzyjający zachowaniu bioróżnorodności a jednocześnie funkcjonalny
            i atrakcyjny. Nie boimy się nietypowych rozwiązań i jesteśmy w
            stanie zawalczyć o każdy fragment zieleni.
          </p>
        </div>
      </div>
    </div>
  </header>
</section>

<section class="block">
  <div class="container">
    <header class="block__header">
      <h4 class="block__header_right">Nasze projekty</h4>
      <h2 class="block__heading">Odkryj Nasze Realizacje</h2>
    </header>
    <div class="projekt">
      <div class="slideshow-container">
        <div class="mySlides fade">
          <img
            src="/assets/images/projects/Gdansk_parking_Biskupia/Gdansk_parking_Biskupia_1.jpg"
            style="width: 100%"
          />
        </div>
        <div class="mySlides fade">
          <img
            src="/assets/images/projects/Gdansk_parking_Biskupia/Gdansk_parking_Biskupia_2.jpg"
            style="width: 100%"
          />
        </div>
        <div class="mySlides fade">
          <img
            src="/assets/images/projects/Gdansk_parking_Biskupia/Gdansk_parking_Biskupia_3.jpg"
            style="width: 100%"
          />
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
    </div>
  </div>
</section>

<section class="block block--dark contact">
  <div class="container grid grid--1x2">
    <div class="contact__header">
      <h2 class="block__heading">GOTOWY NA WSPÓŁPRACĘ?</h2>
      <h2 class="block__heading">NAPISZ DO NAS JUż DZIS!</h2>
      <p>
        Nasz zespół doświadczonych profesjonalistów jest gotowy odpowiedzieć na
        Twoje pytania i udzielić wsparcia. Skontaktuj się z nami teraz, aby
        rozpocząć współpracę!
      </p>
    </div>
    <div class="form--area">
      <div class="wrapper">
        <form>
          <input type="text" placeholder="Imię..." />
          <input type="text" placeholder="Nazwisko..." />
          <input type="text" placeholder="Email" />
          <textarea
            cols="30"
            rows="10"
            placeholder="Napisz do nas..."
          ></textarea>
          <a href="#">Submite</a>
        </form>
      </div>
    </div>
  </div>
</section>
